---
// library imports
import { Image } from 'astro:assets';
// component imports
import Link from "./Link.astro";

// utils imports
import { slugify, formatDate } from "../scripts/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, pubDate, author, image, description } = frontmatter;
---

<article class="card">
  
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={image.url}
      alt={image.alt}
      width="400"
      height="250"
      format="webp"
      quality={80}
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>
        by {author}
          {formatDate(pubDate)}
        
      </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>