---
// library imports





// component imports
import Link from "./Link.astro";
import ImageCard from "../components/ImageCard.astro"

// utils imports
import { slugify, formatDate } from "../scripts/utils";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, pubDate, author, image, description } = frontmatter;


---

<article class="group h-72 md:h-96  justify-end items-end bg-gray-100 overflow-hidden rounded-xl shadow-lg relative hover:shadow-xl">
  
  <a href={url} aria-hidden="true" tabindex="-1">
    <ImageCard 
      imagePath={image.url}
      altText={image.alt};
      />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>
        by {author}
          {formatDate(pubDate)}
        
      </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Read Post" style="secondary" />
  </div>
</article>