---
import BaseLayout from './BaseLayout.astro';
import ImageCard from "../components/ImageCard.astro"
import Gallery from "../components/Gallery.astro"
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
 
  <div class="px-8">
  <p>{frontmatter.pubDate.slice(0,10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p class="text-xs">Written by: {frontmatter.author}</p>
  
  <!-- <img src={frontmatter.image.url}  alt={frontmatter.image.alt} /> -->
  <div class="flex justify-center items-center md:px-36">
  <ImageCard 
  imagePath={frontmatter.image.url}
  altText={frontmatter.image.alt};
  />
  </div>

  <div class="newscontent">
  <slot />
</div>

<!-- <div>
  <Gallery/>
</div> -->

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</div>
</BaseLayout>

<style is:global>
  .newscontent p {
  @apply  text-lg pb-2 pt-4;
}

.newscontent img 
{@apply flex justify-center md:h-96}

</style>

